<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Patient</title>
</head>
<body>
<form th:method="POST" th:action="@{/patients/{hospitalId}/savePatient(hospitalId=${hospitalId})}" th:object="${patient}">
    <div>
        <label for="LastName">Patient last name</label>
        <input type="text" th:field="*{lastName}" id = "lastName">
    </div>
    <div>
        <label for="firstName">Patient first name</label>
        <input type="text" th:field="*{firstName}" id = "firstName">
    </div>
    <div>
        <label for="email">Patient email</label>
        <input type="text" th:field="*{email}" id = "email">
    </div>
    <div>
        <label for="phoneNumber">Patient phone number</label>
        <input type="text" th:field="*{phoneNumber}" id = "phoneNumber">
    </div>

    <div>
        <label for="gender">Patient gender</label>
        <input type="text" th:field="*{gender}" id = "gender">
    </div>


    <div>
        <label for="image">Patient image</label>
        <input type="text" th:field="*{image}" id = "image">
    </div>
    <button type="submit">Save Patient</button>
</form>

</body>
</html>