<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Hospital</title>
</head>
<body>
<form th:method="PUT" th:action="@{/hospitals/{id}/update(id=${hospital.getId()})}" th:object="${hospital}">
  <div>
    <label for="name">Hospital name</label>
    <input type="text" th:field="*{name}" id = "name">
  </div>
  <div>
    <label for="address">Hospital address</label>
    <input type="text" th:field="*{address}" id = "address">
  </div>

  <div>
    <label for="image">Hospital image</label>
    <input type="text" th:field="*{image}" id = "image">
  </div>
  <button type="submit">UPDATE Hospital</button>
</form>

</body>
</html>